@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700;900&display=swap');

h1, h2, a {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 900;
  color: #0e0000;
  line-height: 1.3em;
  margin: 42px 0 30px;
}

h2 {
  font-weight: 700;
}

body {
  background-color: #F7F9FC;
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
  font-size: 1em;
  line-height: 1.7em;
  letter-spacing: .1px;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: #fd1015;
}

a:hover {
  color: #000000;
}

p {
  margin-bottom: 40px;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.img-circle {
  width: 180px;
  height: 180px;
  border-radius: 90px
}

.card-white {
  margin: 20px auto;
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;
}

.shadowed {
  box-shadow: 5px 5px 4px rgba(0,0,0,.1);
}

.highlighted {
  padding: 2px 15px 4px;
  font-style: normal;
  border-radius: 3px;
}

.highlighted-red {
  color: #fd1015;
  background: rgba(253,16,21,.1);
  }

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
}

.fab {
  font-size: 50px;
  padding: 30px;
}

.btn-flat {
  color: #fff;
  border-radius: 4px;
  background: #fd1015;*/
  box-shadow: 0 2px 14px rgba(126,87,88,.1);
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  letter-spacing:0.1px;
  margin-left:20px;
  min-height:64px;
  min-width:220px;
  padding-bottom:12px;
  padding-left:36px;
  padding-right:36px;
  padding-top:12px;
}

.btn-flat:hover {
  background: #000000;
  color: white;
}
